@model string;
<div style="position: fixed; right:50px; bottom:75px;" class="text-white">
	<a asp-controller="@Model" asp-action="Create" class="btn btn-success">
		<i class="bg-info bi-plus-circle>"></i>Přidat
	</a>
</div>